<div style="padding:20px; max-width:400px;">
  <h2>➕ Add Driver</h2>
  <%= form_with model: @driver, local: true do |f| %>
    <%= f.label :name, "Driver Name" %><br>
    <%= f.text_field :name, class: "form-control" %><br><br>
    <%= f.label :phone, "Phone" %><br>
    <%= f.text_field :phone, placeholder: "+1 (602) 555-1234", class: "form-control" %><br><br>
    <%= f.submit "Add Driver", class: "btn btn-primary" %>
  <% end %>
</div>
