<h1>🚚 Vehicles (Live GPS Tracking)</h1>
<table class="table">
  <tr><th>ID</th><th>Name</th><th>Status</th><th>GPS</th></tr>
  <% @vehicles.each do |v| %>
    <tr>
      <td><%= v.id %></td>
      <td><%= v.name %></td>
      <td><span class="badge bg-success"><%= v.status %></span></td>
      <td><%= v.latitude %>, <%= v.longitude %></td>
    </tr>
  <% end %>
</table>
